<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Students_Counselling</title>

    <!-- Local CSS Files -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/HomeStyle.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link href="~/css/toastr.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
        @await Html.PartialAsync("_Navbar")
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted mt-5">
        <div class="container text-center">
            <p>&copy; 2024 - Passion Trainer And Consultancy</p>
            <div class="social-icons mt-2">
                <a href="#"><img src="~/images/youtube-icon.png" alt="YouTube" /></a>
                <a href="#"><img src="~/images/twitter-icon.png" alt="Twitter" /></a>
                <a href="#"><img src="~/images/facebook-icon.png" style="padding:3px;" alt="Facebook" /></a>
                <a href="#"><img src="~/images/instagram-icon.png" alt="Instagram" /></a>
            </div>
        </div>
    </footer>

    <!-- Local JavaScript Files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/toastr.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
