@using Students_Councelling.Interface
@inject IAccountRepository _accountRepository

@{
    var email = User.Identity.Name;
    var fullname = _accountRepository.GetStudentDetailsByMailId(email) ?? "Guest";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight:bold">
            <img src="~/images/Passion.png" alt="Students Counselling Logo" style="max-width:70px;" />
            Passion Consultancy
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Exam" asp-action="Index">Examination Portal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="UpcomingEvents">Upcoming Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Resources">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="AboutUs" asp-action="Index">About Us</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-circle" style="margin-right:8px;"></i>
                            @fullname
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" asp-controller="Account" asp-action="EditProfile">
                                    <i class="fas fa-user-edit" style="margin-right:5px;"></i>
                                    Edit Profile
                                </a>
                            </li>
                            <li>
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="dropdown-item">
                                        <i class="fas fa-sign-out-alt" style="margin-right:5px;"></i>
                                        Logout
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">
                            <i class="fas fa-user-circle" style="margin-right:8px;"></i>
                            Log in
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
