html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: url('/images/Background.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}
.card {
    background: rgb(100, 100, 100);
    border: none;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.card-header, .card-footer {
    background: none;
    border-bottom: none;
    border-top: none;
}

.btn-primary {
    background-color: #1f4037;
    border: none;
}

    .btn-primary:hover {
        background-color: #99f2c8;
        color: #000;
    }

.form-control {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: #ffffff;
}

    .form-control:focus {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: none;
        color: #ffffff;
    }

label {
    color: #B0C4FF;
}

.form-check-label {
    color: #B0C4FF;
}

a {
    color: #B0C4FF;
    text-decoration: underline;
}

    a:hover {
        color: #99f2c8;
        text-decoration: none;
    }

.nav-link.dropdown-toggle::after {
    display: none;
}

/* Ensure dropdown items are displayed correctly */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.2);
}

/* Show dropdown on hover */
.nav-item:hover .dropdown-menu {
    display: block;
}

/* Hide the dropdown toggle arrow */
.nav-link.dropdown-toggle::after {
    display: none;
}

/* Adjust positioning for dropdown items */
.navbar-nav .dropdown-menu {
    top: 100%;
    left: -30px;
}