@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
   @*  <div class="hero-content text-center">
        <h1 class="display-4">Welcome to Our Creative Agency</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Explore <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div> *@
</div>
